.bannerTextMain {
  text-align: center;
  /* background-image: linear-gradient(
    to right,
    rgba(127, 19, 77, 0.705),
    rgba(127, 19, 77, 0.705),
    rgb(127, 19, 76),
    rgba(127, 19, 77, 0.705)
  );
   */
}
.imgBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  width: 100vw;
}
