.footer {
  background-color: rgb(172, 19, 76);
  color: #fff;
  padding: 50px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer-column {
  padding: 0 20px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-column p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.newsletter-form {
  display: flex;
}

.newsletter-form input[type="email"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.newsletter-form button {
  width: 70%;
  padding: auto;
  border: none;
  background-color: #fff;
  color: #333;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons li a {
  color: #fff;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
