body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  /*   background-image: url(../images/neneCollectionz1.jpeg);
  background-size: cover;
  background-position: center; */ /*option to have the banner pop up display in the header*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgb(127, 19, 76);
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  margin-right: 10px;
  margin-left: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.navbar a:hover {
  background-color: rgb(127, 19, 76);
  color: white;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* */
.menu-toggle {
  display: none; /* Hide by default on larger screens */
  cursor: pointer;
}

.dash {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: transform 0.3s ease;
}

.dash.open:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.dash.open:nth-child(2) {
  opacity: 0;
}
.dash.open:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* Show on smaller screens */
  }
  .navbar ul {
    display: none; /* Hide the navbar links by default */
  }
  .navbar ul.open {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.menu-toggle {
  display: block; /* Show on smaller screens */
}
.navbar ul {
  display: none; /* Hide the navbar links by default */
}
.navbar ul.open {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.bannerText {
  color: rgb(125, 8, 70);
  font-size: 2rem;
  transition: font-size 0.3s ease-in-out;
}
.bannerText:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.Nene {
  padding-left: 10px;
  text-shadow: 0px 0px 2px 1px rgba(125, 45, 88, 0.681);
}
.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: wrap;
}

.marquee {
  display: block;
  animation: slide-in 5s forwards; /* Adjust animation duration as needed */
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
