.search-container {
  display: flex;
  align-items: center;
}

#search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#search-input:hover {
  border: 2px solid rgb(127, 19, 76);
}

#search-button {
  margin-left: 8px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  background-image: linear-gradient(
    to left,
    rgb(127, 19, 76),
    rgba(127, 19, 77, 0.755)
  );
}

#search-button:hover {
  background-image: linear-gradient(
    to left,

    rgba(127, 19, 77, 0.755),
    rgb(127, 19, 76)
  );
}
